SHEET_ID: "your-google-sheet-id"
EMAIL_FROM: "your-email@domain.com"
EMAIL_APP_PASS: "your-gmail-app-password"
EMAIL_TO: "recipient1@domain.com, recipient2@domain.com"
GOOGLE_CREDS_JSON: '{"type":"service_account","project_id":"...","private_key":"...","client_email":"..."}'
SCRAPER_API_KEY: "your-scraperapi-key"
